**Q1.  Explain with an example each when to use a for loop and a while loop.**

In [ ]:
list=[12,23,45,76,43]
for i in list:
  print(i,end="  ")

12  23  45  76  43

In [ ]:
count=1
while count<10:
  print(count,end="  ")
  count+=1

1  2  3  4  5  6  7  8  9

**Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.**

In [ ]:
# Sum and Product of first 10 natural numbers using for loop

sum=0
product=1

for i in range(1,11):
  sum += i
  product *= i

print("The sum of 10 Natural numbers are :" ,sum)
print("The product of 10 Natural numbers are :" ,product)

The sum of 10 Natural numbers are : 55
The product of 10 Natural numbers are : 3628800

In [ ]:
# Sum and Product of first 10 natural numbers using while loop

sum = 0
product = 1
i = 1

while i <= 10:
    sum += i
    product *= i
    i += 1

print("Sum of first 10 natural numbers: ", sum)
print("Product of first 10 natural numbers: ", product)

Sum of first 10 natural numbers:  55
Product of first 10 natural numbers:  3628800

**Q3. Create a python program to compute the electricity bill for a household.**
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [ ]:
# input electricity units consumed by the household

units=int(input("please enter the number of units you consumed in a month"))

if units <= 100:
  charges = units*4.5
elif units <= 200:
  charges = (100*4.5) + (units-100) * 6
elif units <= 300 :
  charges = (100*4.5) + (100*6) + ((units-200) * 10)
else :
  charges = (100*4.5) + (100*6) + (100*10) + ((units-300) * 20)
  
print("Electricity bill: Rs. ",charges)

please enter the number of units you consumed in a month310
Electricity bill: Rs.  2250.0

**Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.**

In [ ]:
lis=[]
for i in range(1,101):
  cube=i**3
  if cube%4==0 or cube%5==0 :
    lis.append(cube)
print(lis)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

**Q5.  Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist".**

In [ ]:
str='I want to become a data scientist'
count=0
for i in str:
  if i=='a' or i=='e' or i=='i' or i=='I' or i=='o' or i=='u':
    count+=1
print(count)

12